<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OneCar</title>
</head>
<body>
<p th:text="${auto.getManufacturer()}">x</p>
<p th:text="${auto.getBody()}">x</p>
<p th:text="${auto.getYear()}">x</p>
<hr/>
<p th:text="${auto.getWhat()}">x</p>
<p/>
<a th:href="@{/cars/{what}/change(what=${auto.getWhat()})}">EDIT?</a>
<p/>
<form th:method="DELETE" th:action="@{/cars/{what}(what=${auto.getWhat()})}">
    <input type="submit" value="DELETE?!"/>
</form>
<p/>
<hr/>
Here should be a reference
<a href="/fuckeduptwo_war_exploded/cars">Go Back?</a>
</body>
</html>